/* Variable Goes here */
:root {
  --ff-main: 'Outfit';
  --default-l-h: 1.5; /* line-height */

  --clr-white: hsl(0, 0%, 100%);
  --clr-cyan: hsl(178, 100%, 50%);
  --clr-blue-100: hsl(215, 51%, 70%);
  --clr-blue-200: hsl(215, 32%, 27%);
  --clr-blue-300: hsl(216, 50%, 16%);
  --clr-blue-400: hsl(217, 54%, 11%);
}

html {
  font-size: 62.5%; /* now 1 rem = 10px by default its 16px */
}

body {
  font-family: var(--ff-main);
  line-height: var(--default-l-h);
  font-size: 1.8rem;
  background: var(--clr-blue-400);
  color: var(--clr-white);
}

/* utility class */
.flex {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.round-border {
  border-radius: 20px;
}

.card {
  margin: 7rem 3rem;
  background-color: var(--clr-blue-300);
  padding: 2rem;
}

.card__top img {
  width: 100%;
  height: 100%;
}

.card__top {
  position: relative;
}

.card__overlay {
  position: absolute;
  inset: 50%;display: none;
}

.card__content {
  margin: 2rem 0;
}
.card__title {
  font-weight: 600;
  font-size: larger;
  padding: 2rem 0;
}
.card__description {
  font-weight: 300;
  font-size: medium;
  padding-bottom: 2rem;
  color: var(--clr-blue-100);
}

.card__info {
  display: flex;
  justify-content: space-between;
}

.card__price {
  color: var(--clr-cyan);
  font-weight: 400;
  padding-bottom: 2rem;
}
.card__time {
  color: var(--clr-blue-100);
}

.card__divider {
  display: block;
  margin-bottom: 2rem;
  height: 0.1rem;
  background-color: var(--clr-blue-100);
}

h3 {
  font-size: small;
  font-weight: 300;
}

h3 span {
  color: var(--clr-blue-100);
}

.card__footer {
  width: 3rem;
  height: 3rem;
  border: 2px solid var(--clr-white);
  border-radius: 50%;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}